h6 { 
    background: rgba(234, 190, 100, 0.5);
    padding: 10px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-top:50px solid brown;
    border-right: 40px double green;
    border-bottom: 30px inset blueviolet;
    border-left: 30px solid pink;
    border-radius: 100px 100px 100px 100px;
    width: fit-content;
}